doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        include template/seo
        include template/styles
    body.hold-transition.sidebar-mini.accent-pink
        .wrapper
            include template/nav
            include template/aside
            .content-wrapper
                section.content-header
                    .container-fluid
                        .row.mb-2
                            .col-sm-6
                                h1 !{i18n.app_config}
                            |
                            .col-sm-6
                                ol.breadcrumb.float-sm-right
                                    li.breadcrumb-item
                                        a(href=base_admin_path + 'dashboard') !{i18n.home}
                                    |
                                    li.breadcrumb-item.active  !{i18n.app_config}
                section.content
                    .card
                        .card-header.bg-dark
                            .row
                                .col-12.col-md-10
                                    h3.card-title  !{i18n.app_config}
                                .col-12.col-md-2
                                    button.btn.btn-block.bg-pink#btn_deploy_app !{i18n.deploy}


                        .card-body
                            br
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#general') !{i18n.general_config}
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#email') !{i18n.email}
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#database') !{i18n.database}

                            #myTabContent.tab-content
                                #general.tab-pane.fade.show.active
                                    br
                                    .row
                                        .col-12.col-md-6
                                            label !{i18n.name}
                                            input.form-control#app_name(value=app.name, disabled=true)
                                            label !{i18n.description}
                                            input.form-control#app_description(value=app.description)

                                        .col-12.col-md-6
                                            label !{i18n.token}
                                            input.form-control#app_token(readonly=true value=app.token)
                                            label !{i18n.admin} !{i18n.owner}
                                            input.form-control(value=app.owner.username disabled=true)#app_owner
                                            br

                                            button.btn.btn-block.btn-primary#btn_save_app !{i18n.save}

                                #email.tab-pane.fade
                                    br
                                    .row
                                        .col-12.col-md-6
                                            label !{i18n.email_service}
                                            select.form-control#email_serice
                                                option(value=-1) !{i18n.choose_one}
                                                option(value="smtp") SMTP
                                                option(value="gmail") Gmail
                                            label !{i18n.host}
                                            input.form-control(type='text' value=app.mail_host)#app_mail_host
                                            label !{i18n.port}
                                            input.form-control(type='text' value=app.mail_port)#app_mail_port

                                        .col-12.col-md-6
                                            label !{i18n.username}
                                            input.form-control(type='text' value=app.mail_user)#app_mail_user
                                            label !{i18n.password}
                                            input.form-control(type='password' value=app.mail_pass)#app_mail_password
                                            br
                                            button.btn.btn-block.btn-primary#btn_save_email !{i18n.save}


                                #database.tab-pane.fade
                                    br
                                    .row
                                        .col-12
                                            label !{i18n.mongoose_database_configuration}
                                    .row
                                        .col-12.col-md-6
                                            label !{i18n.host}
                                            input.form-control(type='text' value=app.db_host)#app_db_host
                                            label !{i18n.port}
                                            input.form-control(type='text' value=app.db_port)#app_db_port
                                        .col-12.col-md-6
                                            label !{i18n.username}
                                            input.form-control(type='text' value=app.db_user)#app_db_username
                                            label !{i18n.password}
                                            input.form-control(type='password' value=app.db_password)#app_db_password
                                            br
                                            button.btn.btn-block.btn-primary#btn_save_db !{i18n.save}

                        .card-footer
                            | !{i18n.create_modify_delete}

            include template/footer
            include template/control_bar


        include template/params
        include template/scripts
        script.
            $(document).ready(function () {
                $('#menu_config').addClass('active');

            });
        script(src=core_files_path + 'js/common.js')
        script(src=core_files_path + 'js/app_config.js')

