doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        include template/seo
        include template/styles
    body.hold-transition.sidebar-mini.accent-pink
        .wrapper
            include template/nav
            include template/aside
            .content-wrapper
                section.content-header
                    .container-fluid
                        .row.mb-2
                            .col-sm-6
                                h1 !{i18n.dynamic_db}
                            |
                            .col-sm-6
                                ol.breadcrumb.float-sm-right
                                    li.breadcrumb-item
                                        a(href=base_admin_path + 'dashboard') !{i18n.home}
                                    |
                                    li.breadcrumb-item.active !{i18n.dynamic_db}
                section.content
                    .card
                        .card-header.bg-dark
                            .row
                                .col-12.col-md-8
                                    h3.card-title !{i18n.list_of} !{i18n.dynamic_db}
                                .col-12.col-md-4
                                    button.bg-pink.btn.btn-block#btn_rebuild !{i18n.rebuild_database}
                        .card-body
                            br
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#tables')#tab_tables Collections
                                li.nav-item
                                    a.nav-link.disabled(data-toggle='tab', href='#structure')#tab_structure Fields
                                li.nav-item
                                    a.nav-link.disabled(data-toggle='tab', href='#data')#tab_data Docs


                            #myTabContent.tab-content
                                #tables.tab-pane.fade.show.active
                                    br
                                    .row
                                        .col-12.col-md-8
                                        .col-12.col-md-4
                                            button.bg-pink.btn.btn-block#btn_new_element !{i18n.new}
                                    br
                                    table.table.table-bordered.table-striped.display.table-hover#datatable
                                        thead
                                            tr
                                                th !{i18n.id}
                                                th !{i18n.name}
                                                th !{i18n.description}
                                                th !{i18n.url}
                                                th !{i18n.active}
                                                th !{i18n.date_register}
                                                th !{i18n.date_last_update}
                                                th !{i18n.actions}



                                #structure.tab-pane.fade
                                    br
                                    .row
                                        .col-12.col-md-8
                                        .col-12.col-md-4
                                            button.bg-pink.btn.btn-block#btn_new_element_str !{i18n.new}
                                    br

                                    table.table.table-bordered.table-striped.display.table-hover#datatable_st
                                        thead
                                            tr
                                                th !{i18n.id}
                                                th !{i18n.name}
                                                th !{i18n.description}
                                                th !{i18n.kind}
                                                th !{i18n.related}
                                                th !{i18n.mandatory}
                                                th !{i18n.default}
                                                th !{i18n.default_type}
                                                th !{i18n.default_custom}
                                                th !{i18n.date_register}
                                                th !{i18n.date_last_update}
                                                th !{i18n.actions}

                                #data.tab-pane.fade
                                    br
                                    .row
                                        .col-12.col-md-8
                                        .col-12.col-md-4
                                            button.bg-pink.btn.btn-block#btn_new_element_data !{i18n.new}
                                    br
                                    table.table.table-bordered.table-striped.display.table-hover#datatable_data
                                        thead
                                            tr#datatable_data_fields
                                                th !{i18n.id}

            include template/footer
            include template/control_bar

        include modals/dynamic_db_collection
        include modals/dynamic_db_structure
        include modals/dynamic_db_data
        include template/params
        include template/scripts
        script.
            $(document).ready(function () {
                $('#menu_dynamyc_db').addClass('active');

            });
        script(src=core_files_path + 'js/common.js')
        script(src=core_files_path + 'js/dynamic_db.js')

