doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        include template/seo
        include template/styles
    body.hold-transition.sidebar-mini.accent-pink
        .wrapper
            include template/nav
            include template/aside
            .content-wrapper
                section.content-header
                    .container-fluid
                        .row.mb-2
                            .col-sm-6
                                h1 !{i18n.general_file_manager}
                            |
                            .col-sm-6
                                ol.breadcrumb.float-sm-right
                                    li.breadcrumb-item
                                        a(href=base_admin_path + 'dashboard') !{i18n.home}
                                    |
                                    li.breadcrumb-item.active !{i18n.general_file_manager}
                section.content
                    .card
                        .card-header.bg-dark
                            .row
                                .col-12.col-md-8
                                    h3.card-title !{i18n.list_of} !{i18n.general_file_manager}
                                .col-12.col-md-4
                                    button.bg-pink.btn.btn-block#btn_new_element !{i18n.upload_files}

                        .card-body
                            table.table.table-bordered.table-striped.display.table-hover#datatable
                                thead
                                    tr
                                        th !{i18n.id}
                                        th !{i18n.url}
                                        th !{i18n.path}
                                        th !{i18n.original_name}
                                        th !{i18n.owner}
                                        th !{i18n.date_register}
                                        th !{i18n.actions}



                        .card-footer
                            | !{i18n.create_modify_delete}

            include template/footer
            include template/control_bar

        include modals/g_file_manager
        include template/params
        include template/scripts
        script.
            $(document).ready(function () {
                $('#menu_g_file_manager').addClass('active');
            });
        script(src=core_files_path + 'js/common.js')
        script(src=core_files_path + 'js/g_file_manager.js')

