doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        include template/seo
        include template/styles
    body.hold-transition.sidebar-mini.accent-pink
        .wrapper
            include template/nav
            include template/aside
            .content-wrapper
                section.content-header
                    .container-fluid
                        .row.mb-2
                            .col-sm-6
                                h1 !{i18n.webservices}
                            |
                            .col-sm-6
                                ol.breadcrumb.float-sm-right
                                    li.breadcrumb-item
                                        a(href=base_admin_path + 'dashboard') !{i18n.home}
                                    |
                                    li.breadcrumb-item.active !{i18n.webservices}
                section.content
                    .card
                        .card-header.bg-dark
                            .row
                                .col-12.col-md-8
                                    h3.card-title !{i18n.list_of} !{i18n.webservices}

                        .card-body
                            br
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab' href='#catalogue') Catalogue
                                li.nav-item
                                    a.nav-link(data-toggle='tab' href='#execute') Execute


                            #myTabContent.tab-content
                                #catalogue.tab-pane.fade.active.show
                                    br
                                    .row
                                        .col-12.col-md-8
                                        .col-12.col-md-4
                                            button.bg-pink.btn.btn-block#btn_new_element !{i18n.new} !{i18n.webservices}
                                    br
                                    table.table.table-bordered.table-striped.display.table-hover#datatable
                                        thead
                                            tr
                                                th !{i18n.id}
                                                th !{i18n.name}
                                                th !{i18n.description}
                                                th !{i18n.url}
                                                th !{i18n.url} 2
                                                th !{i18n.url} 3
                                                th !{i18n.method}
                                                th !{i18n.param} 
                                                th !{i18n.param} !{i18n.name}
                                                th !{i18n.param} !{i18n.description}
                                                th !{i18n.param} !{i18n.format}
                                                th !{i18n.param} !{i18n.default}
                                                th !{i18n.type} !{i18n.name}
                                                th !{i18n.type} !{i18n.description}
                                                th !{i18n.type} !{i18n.key}
                                                th !{i18n.date_register}
                                                th !{i18n.date_last_update}
                                                th !{i18n.actions} 
                                                
                        
                                #execute.tab-pane.fade
                                    p
                                    | In Construction :) please come back later




            include template/footer
            include template/control_bar

        include modals/webservice_fuctions
        include template/params
        include template/scripts
        script.
            $(document).ready(function () {
                $('#menu_webservices').addClass('active');


            });
        script(src=core_files_path + 'js/common.js')
        script(src=core_files_path + 'js/webservice.js')

