#modal_new_edit.modal.fade( aria-hidden='true', data-backdrop="static", data-keyboard="false")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header.bg-dark
                h4.modal-title !{i18n.new_edit}
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                br
                label !{i18n.username}
                input(type='text').form-control#in_username
                label !{i18n.email}
                input(type='text').form-control#in_email
                label !{i18n.password}
                input(type='password').form-control#in_password
                label !{i18n.profile_image}
                input(type='file', accept='*/image').form-control#in_profile_image
                input(type='text').form-control#in_profile_image_save(style='display:none;')
                label !{i18n.role}
                select.form-control#in_role

            .modal-footer.justify-content-end
                button.btn.btn-default(type='button', data-dismiss='modal') !{i18n.cancel}
                button.btn.bg-pink(type='button')#save_changes !{i18n.save}
