aside.main-sidebar.sidebar-dark-pink.elevation-4
    // Brand Logo
    a.brand-link.navbar-pink(href=root_path)
        img.brand-image.animated.pulse.infinite(src=img_folder + 'logo.png', alt='Ensō Logo')
        |
        span.brand-text.font-weight-light !{i18n.admin_panel}
    .sidebar
        .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
                if user && user.image
                    img.img-circle.elevation-2(src=user.image, alt=user.username)

                else
                    img.img-circle.elevation-2(src='https://source.unsplash.com/800x800/?face', alt='User Image')
            |
            .info
                if user && user.username
                    a.d-block(href='#') !{user.username}
                    a(href='mailto:' + user.email) !{user.email}
                else
                    a.d-block(href='#') !{i18n.admin}
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
                if scr_access && scr_access.includes('dashboard')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'dashboard')#menu_dashboard
                            i.nav-icon.fas.fa-tachometer-alt
                            |
                            p !{i18n.dashboard}
                |
                if scr_access && scr_access.includes('configuration')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'configuration')#menu_configutation_
                            i.nav-icon.fas.fa-cog
                            |
                            p !{i18n.general_config}
                |

                li.nav-item.has-treeview
                    a.nav-link(href='#')#menu_catalogs
                        i.nav-icon.fas.fa-table
                        |
                        p
                            | !{i18n.catalogues}
                            i.right.fas.fa-angle-left
                    |
                    ul.nav.nav-treeview
                        if scr_access && scr_access.includes('catalogue/places')
                            li.nav-item
                                a.nav-link(href=base_admin_path + 'catalogue/places')#menu_places
                                    i.fas.fa-globe-americas.nav-icon
                                    |
                                    p !{i18n.places}
                        |
                        if scr_access && scr_access.includes('catalogue/languages')
                            li.nav-item
                                a.nav-link(href=base_admin_path + 'catalogue/languages')#menu_languajes
                                    i.fas.fa-language.nav-icon
                                    |
                                    p !{i18n.languages}
                        |
                        if scr_access && scr_access.includes('catalogue/dynamic_content')
                            li.nav-item
                                a.nav-link(href=base_admin_path + 'catalogue/dynamic_content')#menu_dynamic_content
                                    i.fas.fa-align-justify.nav-icon
                                    |
                                    p !{i18n.dynamic_content}
                        |
                        if scr_access && scr_access.includes('catalogue/routes')
                            li.nav-item
                                a.nav-link(href=base_admin_path + 'catalogue/routes')#menu_routes
                                    i.fas.fa-route.nav-icon
                                    |
                                    p !{i18n.routes}
                |
                if scr_access && scr_access.includes('cdn')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'cdn')#menu_cdn
                            i.nav-icon.fas.fa-compact-disc
                            |
                            p !{i18n.cdn}
                |
                if scr_access && scr_access.includes('admin_roles')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'admin_roles')#menu_admin_roles
                            i.nav-icon.fas.fa-user-tag
                            |
                            p !{i18n.admin_roles}
                |
                if scr_access && scr_access.includes('admin')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'admin')#menu_admin
                            i.nav-icon.fas.fa-user-shield
                            |
                            p !{i18n.admins}
                |
                if scr_access && scr_access.includes('admin_permission')

                    li.nav-item
                        a.nav-link(href=base_admin_path + 'admin_permission')#menu_admin_permission
                            i.nav-icon.fas.fa-key
                            |
                            p !{i18n.admin_permission}
                |
                if scr_access && scr_access.includes('console_log')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'console_log')#menu_console_log
                            i.nav-icon.fas.fa-terminal
                            |
                            p !{i18n.console_log}
                |
                if scr_access && scr_access.includes('g_file_manager')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'g_file_manager')#menu_g_file_manager
                            i.nav-icon.fas.fa-folder-plus
                            |
                            p !{i18n.general_file_manager}
                |
                if scr_access && scr_access.includes('apps')
                    li.nav-item
                        a.nav-link(href=base_admin_path + 'apps')#menu_apps
                            i.nav-icon.fas.fa-rocket
                            |
                            p !{i18n.apps}
                |
                li.nav-header.navbar-pink#menu_app_ App
                li.nav-header
                    select.form-control(style="display:none;")#app_select_
                        option(value=-1) !{i18n.choose_one}
                |

                li.nav-header
                #sp_4_app(style="display:none;")
                    if scr_access && scr_access.includes('app/:name/config')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/config')#menu_config
                                i.nav-icon.fas.fa-cogs
                                |
                                p !{i18n.config}
                    |
                    if scr_access && scr_access.includes('app/:name/user_roles')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/user_roles')#menu_user_roles
                                i.nav-icon.fas.fa-user-check
                                |
                                p !{i18n.user_roles}
                    |
                    if scr_access && scr_access.includes('app/:name/users')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/users')#menu_users
                                i.nav-icon.fas.fa-user-plus
                                |
                                p !{i18n.users}
                    |
                    if scr_access && scr_access.includes('app/:name/user_permission')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/user_permission')#menu_user_permission
                                i.nav-icon.fas.fa-user-lock
                                |
                                p !{i18n.user_permission}
                    |
                    if scr_access && scr_access.includes('app/:name/dynamic_db')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/dynamic_db')#menu_dynamyc_db
                                i.nav-icon.fas.fa-database
                                |
                                p  !{i18n.dynamic_db}
                    |
                    if scr_access && scr_access.includes('app/:name/cloud_functions')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/cloud_functions')#menu_cloud_funtions
                                i.nav-icon.fas.fa-server
                                |
                                p !{i18n.cloud_functions}
                    |
                    if scr_access && scr_access.includes('app/:name/files')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/files')#menu_files
                                i.nav-icon.fas.fa-folder-open
                                |
                                p !{i18n.files}
                    |
                    if scr_access && scr_access.includes('app/:name/cron')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/cron')#menu_cron
                                i.nav-icon.fas.fa-clock
                                |
                                p !{i18n.cron_functions}
                    |
                    if scr_access && scr_access.includes('app/:name/contacts')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/contacts')#menu_contacts
                                i.nav-icon.fas.fa-address-book
                                |
                                p !{i18n.contacts}
                    |
                    if scr_access && scr_access.includes('app/:name/mailing')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/mailing')#menu_mailing
                                i.nav-icon.fas.fa-envelope
                                |
                                p !{i18n.mailing}
                    |
                    if scr_access && scr_access.includes('app/:name/sms_gateway')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/sms_gateway')#menu_sms_gateway
                                i.nav-icon.fas.fa-sms
                                |
                                p !{i18n.sms_gateway}
                    |
                    if scr_access && scr_access.includes('app/:name/webservices')
                        li.nav-item
                            a.nav-link(href=base_admin_path + 'app/' + _app_id_ + '/webservices')#menu_webservices
                                i.nav-icon.fas.fa-plug
                                |
                                p !{i18n.webservices}
                |

                li.nav-header.navbar-pink !{i18n.misc}
                |
                li.nav-item
                    a.nav-link(href='https://leganux.net/' target='_blank')
                        i.nav-icon.fas.fa-file
                        |
                        p !{i18n.documentation}
                li.nav-item
                    a.nav-link(href=root_path + 'logout' )
                        i.nav-icon.fas.fa-times-circle
                        |
                        p !{i18n.logout}
                |
                li.nav-header &nbsp;
                |
                li.nav-header &nbsp;
                |
                li.nav-header &nbsp;
                |

script(src=core_files_path + 'js/common.js')
script(src=core_files_path + 'js/menu.js')

