if seo
    if seo.title
        title #{seo.title}
        meta(name='application-name', content=seo.title)
        meta(name="twitter:title" ,content=seo.title)
        meta(property='og:title', content=seo.title)
    if seo.description
        meta(name='description', content=seo.description)
        meta(property='og:description', content=seo.description)
        meta(name="twitter:description" ,content=seo.description)
    if seo.image
        meta(name="twitter:image" ,content=seo.image)
        meta(property='og:image', content=seo.image)
    if seo.domain
        meta(name="twitter:domain" ,content=seo.domain)
    if seo.canonical
        meta(name="canonical" ,content=seo.canonical)
        meta(property='og:url', content=seo.canonical)
    if seo.robots
        meta(name="robots" ,content=seo.robots)
    if seo.type
        meta(property='og:type', content=seo.type)
        meta(property='type', content=seo.type)
    if seo.viewport
        meta(property='viewport', content=seo.viewport)
    if seo.keywords
        meta(property='keywords', content=seo.keywords)
    if seo.locale
        meta(property='locale', content=seo.locale)
        meta(property='og:locale', content=seo.locale)


